@import "../../scss/variables";

.resume-block {
  &__text {
    p {
      font-size: 29px;
      letter-spacing: -1px;
      line-height: 45px;
      padding: 10px 0;
      //text-shadow: -4px 2px 9px rgba(34, 60, 80, 0.6);
    }

    @media (min-width: $media-desktop-min-width) {
      width: 650px;
    }

    @media (max-width: $media-mobile-max-width) {
      width: auto;
      padding: 15px 15px;

      p {
        padding: 15px 0;
      }
    }
  }

  &__links {
    display: flex;
    position: relative;
    flex-direction: row;
    padding-top: 50px;

    @media (max-width: $media-mobile-max-width) {
      padding: 0 15px 30px 15px;
      flex-direction: column;

      // overflow-x: auto;
    }

    span {
      font-size: 14px;
      transition: 0.75s;

      &.resume-link_text-animation {
        opacity: 0;
        transition: 0.5s;

        animation: 0.5s linear 0s text-opacity-animation;
        animation-fill-mode: forwards;

        @-webkit-keyframes text-opacity-animation {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
        }

        @keyframes text-opacity-animation {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
        }
      }

      a {
        display: none !important;
      }
    }

    li {
      display: flex;
      position: relative;
      flex-direction: column;
      margin: 0 auto;
      padding: 10px 20px;
      width: calc(20% - 3px);

      @mixin link-separator-line {
        content: "";
        position: absolute;
        background-color: #fff;
        width: 2px;
        height: 50%;
        opacity: 0.45;
      }

      @media (min-width: $media-desktop-min-width) {
        &:not(:last-child):after {
          @include link-separator-line;

          bottom: 0;
          right: 0;
          transform: translate(0%, -50%);
        }

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }
      }

      @media (max-width: $media-mobile-max-width) {
        width: 100%;
        padding: 20px 15px;

        &:before {
          @include link-separator-line;

          top: 0;
          left: 0;
          transform: translate(0%, 50%);
        }

        span {
          padding: 5px 10px;
        }
      }
    }

    a {
      @media (min-width: $media-desktop-min-width) {
        margin-right: 30px;

        &:last-child {
          margin-right: 0;
        }
      }

      @media (max-width: $media-mobile-max-width) {
        padding: 15px 0;
      }
    }
  }
}
