@import '../../scss/variables';

.dropdown-list {
  position: relative;
  border: solid $gray-300 1px;
  border-radius: 24px;

  cursor: pointer;

  svg {
    width: 32px;
    height: 32px;
  }

  &__header {
    display: flex;
    height: 32px;
  }

  &__item {
    display: flex;
    padding: 10px;
    border-radius: 24px;
    justify-content: center;
  }

  &__selected {
    display: flex;
    align-items: center; 
    padding-right: 8px;   
  }

  &__selected-title {
    flex-grow: 1;
  }

  &__icon {
    padding-left: 8px;
    border-left: 1px solid;
    svg {
      transition: transform .4s;
      transform: rotate(180deg);
    }
  }

  &.dropdown-list_dropped {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    // border-bottom: 0;

    .dropdown-list__icon {
      svg {
        transform: rotate(0deg);
      }
    }
  }

  &__items-wrapper {
    display: none;
    position: absolute;
    top: 74px;
    right: -1px;
    width: 100%;    

    // padding-top: 20px;
    padding: 10px 0;
    border-radius: 0 0 24px 24px;
    border: solid $gray-300 1px;
    border-top: 0;

    &_dropped {
      display: block;
      z-index: 999;

      animation: drop-animation 0.3s;
      animation-fill-mode: forwards;
    }

    @-webkit-keyframes drop-animation {
      from {
        opacity: 0.2;
      }
      to {
        opacity: 1;
      }
    }

    @keyframes drop-animation {
      from {
        display: block;
        opacity: 0.2;
      }
      to {
        display: block;
        opacity: 1;
      }
    }
  }
}
