.wrapper {
	margin: 20px 0; 
}

.list {
	font-size: 24px;
	border: #e4e3de 2px solid;
	background-color: #037b57;
	padding: 10px 15px;
	
	overflow-x: hidden;
	overflow-y: scroll;

	max-height: 238px;
	transition: .45s;
	
	-webkit-box-shadow: -10px 0px 15px 7px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: -10px 0px 15px 7px rgba(34, 60, 80, 0.2);
	box-shadow: -10px 0px 15px 7px rgba(34, 60, 80, 0.2);

	li {
		padding: 8px 0;
		
		&::before {
			display: block;
			float: left;
			padding-right: 6px;
			content: "—";
		}
	}
}