@import "../../scss/variables";

.main-page {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;

  color: $font-color;
  font-family: $font-family, $font-family-default;
  font-size: $font-size;
  text-shadow: -4px 2px 9px rgba(34, 60, 80, 0.6);

  @media (min-width: $media-desktop-min-width) {
    display: flex;
    flex-direction: row-reverse;

    &__language-switch {
      display: none;
      position: relative;
    }
  }

  @media (max-width: $media-mobile-max-width) {
    // flex-direction: column;
    display: block;
    font-size: $font-size-mobile;

    .language-switch {
      position: fixed;
      width: 100%;
      bottom: 0;
      right: 0;

      display: flex;
      height: 50px;

      &__button {
        width: 50%;
        border: 1px $font-color solid;

        &_disabled {
          opacity: 1;
          padding: 5px;
        }
      }
    }
  }

  .language-switch {
    z-index: 100;
  }

  h1,
  h3 {
    letter-spacing: 0.9px;
    // line-height: 100px;

    margin-bottom: 20px;
    width: 100%;
  }

  h1 {
    font-size: 72px;
    word-spacing: 100vw;
  }

  h3 {
    font-size: $font-size-h3;
  }

  &__wrapper {
    position: relative;
    border: 0;
    overflow: hidden;

    @media (min-width: $media-desktop-min-width) {
      min-height: 100vh;
      max-height: 100vh;
      transition: width 0.7s;

      .main-page__language-switch {
        display: flex;
        flex-direction: row-reverse;
      }
    }

    @media (max-width: $media-mobile-max-width) {
      width: 100% !important;
      // max-height: revert;
      overflow-y: scroll;
    }
  }

  &__content {
    @media (min-width: 1281px) {
      width: 100%;
    }

    @media (max-width: 1280px) {
      width: 90%;
      margin: 0 auto;
    }
  }
}

.main-page_additional {
  background-color: $background-color-first;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;

  @media (min-width: 1281px) {
    flex-grow: 1;

    .main-page__content {
      width: 450px;
    }

    .main-page__infolist {
      opacity: 0;
      max-height: 0;

      animation: 0.6s linear 1.5s infolist-in;
      animation-fill-mode: forwards;

      @-webkit-keyframes infolist-in {
        to {
          max-height: 100vh;
          opacity: 1;
        }
      }

      @keyframes infolist-in {
        to {
          max-height: 100vh;
          opacity: 1;
        }
      }
    }
  }

  h3 {
    padding: 0;
    margin-bottom: 5px;
    line-height: revert;
    font-size: 36px;
  }

  @media (max-width: 1280px) {
    display: none;
    min-height: 25vh;
    overflow: hidden;
    padding: 40px 0;

    // animation: 1s linear 1s additional-slide-down;
    // animation-fill-mode: forwards;

    @-webkit-keyframes additional-slide-down {
      to {
        min-height: 25vh;
      }
    }

    @keyframes additional-slide-down {
      to {
        min-height: 25vh;
      }
    }

    h3 {
      font-size: 24px;
      width: revert;
      line-height: revert;
    }
  }
}

.main-page_resume {
  width: 60%;
  background-color: $background-color-second;

  overflow: hidden;

  @media (min-width: $media-desktop-min-width) {
    .main-page__content {
      width: 650px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .resume-block {
      height: 650px;
      // overflow-y: scroll;
      padding: 20px 0;
    }

    // animation: 0.5s linear 1s slide-left;
    // animation-fill-mode: forwards;

    @-webkit-keyframes slide-left {
      from {
        width: 0%;
      }
      to {
        width: 60%;
        @include box-shadow;
      }
    }

    @keyframes slide-left {
      from {
        width: 0%;
      }
      to {
        width: 60%;
        @include box-shadow;
      }
    }
  }

  @media (max-width: 1600px) {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  @media (max-width: $media-mobile-max-width) {
    overflow: hidden;
    // max-height: 0;
    // min-height: 0;

    // animation: 1s linear 1s slide-down;
    // animation-fill-mode: forwards;

    .resume-block {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    h1 {
      font-size: 24px;
      width: revert;
      line-height: revert;
      padding: 50px 5px 0 5px;
      margin: 0;
    }

    p {
      font-size: 18px;
    }

    @-webkit-keyframes slide-down {
      75% {
        max-height: 100vh;
      }
      100% {
        max-height: revert;
      }
    }

    @keyframes slide-down {
      75% {
        max-height: 100vh;
      }
      100% {
        max-height: revert;
      }
    }
  }
}
