@import "../../scss/variables";

.language-manager {
  min-height: 45px;

  &__button {
    background-color: $ls-btn-bg-primary;
    border: $ls-btn-border-color 2px solid;

    color: $font-color;
    font-size: 20px;
    font-weight: 700;

    padding: 5px;

    cursor: pointer;
    transition: 0.15s;

    &_disabled {
      background-color: $ls-btn-disabled-bg;
      color: $ls-btn-disabled-color;
      border-width: 1px;
      padding: 2px;
      opacity: 0.65;

      &:hover {
        color: $ls-btn-disabled-hover-color;
      }
    }
  }
}
