@import "../../scss/variables";

.header-mobile {
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid;
  width: 100%;
  height: $header-mobile-height;
  z-index: 100;

  transition: .4s;

  .dropdown-list {
    padding: 10px;
  }

  &__content {
    display: flex;
    justify-content: space-around;    
    width: 100%;

    padding: 15px 0;

    .dropdown-list__items-wrapper {
      top: 54px;
    }
  }

  &_hidden {
    transform: translate3d(0,-100%,0);
  }
}