@import "../_variables-dark.scss";

body.theme-dark {
  background-color: $color-background-dark;
  color: $color-font-text-dark;

  h1,
  h3 {
    color: $color-font-title-dark;
  }

  a {
    color: $color-links-dark;
  }

  .theme-switch {
    svg {
      fill: $pink-500;
      stroke: $gray-900;
    }   
  }

  .dropdown-list {
    background-color: $gray-750;
    border-color: $color-background-dark;

    &__items-wrapper {
      background-color: $gray-750;
      border-color: $color-background-dark;
    }

    &__item {
      &_active {
        background-color: $gray-600;
      }
    }

    &__icon {
      svg {
        stroke: $color-font-text-dark;
        fill: $color-font-text-dark;
      }
    }
  }

  .page-root {
    .header-mobile {      
      border-color: $color-background-dark;
    }

    .main-page__content, .header-mobile {
      background-color: $color-background-content-dark;
    }
  }
}
