@import "../_variables.scss";

body.theme-light {
  background-color: $color-background;
  color: $color-font-text;
  text-shadow: $text-shadow;

  h1,
  h3 {
    color: $color-font-title;
  }

  a {
    color: $color-links;
  }

  b {
    color: $gray-600;
  }

  .theme-switch {
    background-color: $white;

    svg {
      fill: $pink-800;
      stroke: $gray-900;
    }    
  }

  .dropdown-list {    
    border-color: $gray-300;

    &__items-wrapper {
      background-color: $white;
      border-color: $gray-300;
    }

    &__item {
      &_active {
        background-color: $gray-600;
      }
    }

    .dropdown-list__icon {
      border-color: $gray-300;
      svg {
        stroke: $color-font-title;
        fill: $color-font-title;
      } 
    }
  }

  .page-root {    
    .header-mobile {      
      border-color: $color-background;
    }

    .main-page__content, .header-mobile {
      background-color: $color-background-content;
    }
  }
}
