$background-color-first:          #D4B2D5;
$background-color-second:         #46519d;
$border-color:                      #f09ac2;
        
$font-color:                      #e4e3de;
$font-family:                       'PT Mono';
$font-family-default:               'system-ui';
$font-size-h1:                      100px;
$font-size-h3:                      36px;
$font-size-p:                       29px;
$font-size:                       29px;

$font-size-mobile:                  18px;
      
$a-color:                         #f09ac2;
$button-background-color:         #037b57;
      
$media-desktop-min-width:           '1281px';
$media-mobile-max-width:            '1280px';