$white: #fff !default;
$gray-100: #e1e3e6 !default;

$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;

$gray-800: #222222 !default;
$gray-900: #141414 !default;
$black: #000 !default;
$pink-500: #d4b2d5;

$color-background: $gray-900;
$color-background-content: $gray-800;
$color-font-title: #ced4da;
$color-font-text: $gray-100;
$color-links: #6a9fdb;
