$white: #fff !default;

$gray-100: #e1e3e6 !default;
$gray-200: #e9ecef !default;
$gray-300: #e5e5e5 !default;
$gray-400: #ced4da !default;
$gray-500: #fbfbfe !default;
$gray-600: #6c757d !default;
$gray-700: #626d7a !default;
$gray-750: #292929 !default;
$gray-800: #222222 !default;
$gray-900: #141414 !default;

$black: #000 !default;

$pink-500: #d4b2d5;
$pink-800: #f09ac2;

$blue-600: #6a9fdb;

$color-background: rgb(237 238 240) !default;
$color-background-content: $white !default;
$color-font-title: $gray-800 !default;
$color-font-text: $gray-800 !default;
$color-links: $blue-600 !default;

$text-shadow: none !default;

$header-mobile-height: 88px;

//////////

$background-color-first: #d4b2d5;
$background-color-second: #46519d;
$border-color: #f09ac2;

$primary: #d4b2d5 !default;
$secondary: #46519d !default;
$advantage: #037b57 !default;
$disabled: #e4e3de !default;

$font-color: #e4e3de !default;
$fc-alternate: #f09ac2 !default;

$font-family: PT Mono, PT serif, serif, Helvetica, system-ui !default;
$font-family-default: "system-ui";
$font-size-h1: 100px;
$font-size-h3: 36px;
$font-size-p: 29px;
$font-size: 29px;

$font-size-mobile: 18px;

$a-color: #f09ac2;
$button-background-color: #037b57;

// min-width: 1200px                              -> large desktop
// min-width: 992px and max-width: 1119px         -> medium desktop or tablet
// max-width: 992px
// min-width: 768px and max-width: 991px          -> small desktop or tablet
// min-width: 768px
// max-width: 767px                               -> phones and tablets
// 480px
// 320px

$media-desktop-min-width: 1281px;
$media-mobile-max-width: 1280px;

$container-max-width: 1440px;

$mobile-container-width: 90%;

@mixin box-shadow {
  -webkit-box-shadow: 0px 0px 15px 17px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 15px 17px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 15px 17px rgba(34, 60, 80, 0.2);
}

/*
  ******************************************
  *** LanguageSwitch component variables ***
  ******************************************
*/

$ls-btn-bg-primary: $advantage !default;
$ls-btn-border-color: $primary !default;

$ls-btn-disabled-bg: $disabled !default;
$ls-btn-disabled-color: #fff;
$ls-btn-disabled-hover-color: $fc-alternate !default;
