@import "./variables";

$color-background-dark: $gray-900;
$color-background-content-dark: $gray-800;
$color-font-title-dark: $gray-400;
$color-font-text-dark: $gray-100;
$color-links-dark: $pink-800;