@import "./variables";
@import "./themes/dark";
@import "./themes/light";
@import "./themes/ianagi";

@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

:root {
  color-scheme: light dark ianagi;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  box-sizing: content-box;
}

body {
  font-family: $font-family;
  overflow: auto;

  .header-mobile {
    display: none;

    @media(max-width: $media-mobile-max-width) {
      display: flex;
    }

  }
}

.page-root {
  max-width: $container-max-width;
  margin: 0 auto;
}
