@import "./variables";
@import "./themes/dark";
@import "./themes/light";
@import "./themes/ianagi";

:root {
  color-scheme: light dark ianagi;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  box-sizing: content-box;
}

.page-root {
  max-width: $container-max-width;
  margin: 0 auto;
}
