@import "./variables";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  box-sizing: content-box;
}

body {
  background-color: $primary;
}

a {
  color: $a-color;
}

.page-root {
  max-width: $container-max-width;
  margin: 0 auto;
}
